.AllSearch {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
  }
  
  .DataPicker {
    flex-grow: 1; 
    margin-right: 10px; 
  }
  

@media screen and (max-width: 768px) {
    .AllSearch {
      flex-direction: column;
    }
}