/* Container */
.Container {
    background-color: #daedec;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    left: 0;
    padding: 0 24px;
    position: relative;
    top: 0;
    width: 100vw;
    z-index: 100;
    display: block;
  }
  
  /* Content */
  .Content {
    display: flex;
    align-items: center;
    margin: 0 auto;
    min-height: 100%;
    max-width: 1128px;
  }
  
  /* Logo */
  .Logo {
    margin-right: 8px;
    font-size: 0px;
  }
  
  /* Search */
  .Search {
    opacity: 1;
    flex-grow: 1;
    position: relative;
  }
  
  .Search > div {
    max-width: 280px;
  }
  
  .Search input {
    border: none;
    box-shadow: none;
    background-color: #eef3f8;
    border-radius: 2px;
    color: rgba(0, 0, 0, 0.9);
    width: 218px;
    padding: 0 8px 0 40px;
    line-height: 1.75;
    font-weight: 400;
    font-size: 14px;
    height: 34px;
    border-color: #dce6f1;
    vertical-align: text-top;
  }
  
  /* SearchIcon */
  .SearchIcon {
    width: 40px;
    position: absolute;
    z-index: 1;
    top: 10px;
    left: 2px;
    border-radius: 0 2px 2px 0;
    margin: 0;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Nav */
  .Nav {
    margin-left: auto;
    display: block;
  }
  
  /* NavListWrap */
  .NavListWrap {
    display: flex;
    flex-wrap: nowrap;
    list-style-type: none;
  }
  
  /* NavList */
  .NavList {
    display: flex;
    align-items: center;
  }
  
  .NavList a {
    align-items: center;
    background: transparent;
    display: flex;
    flex-direction: column;
    font-size: 12px;
    font-weight: 400;
    justify-content: center;
    line-height: 1.5;
    min-height: 52px;
    min-width: 80px;
    position: relative;
    text-decoration: none;
  }
  
  .NavList span {
    color: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
  }
  
  .NavList:hover,
  .NavList:active {
    cursor: pointer;
  }
  
  .NavList:hover a span {
    color: rgba(0, 0, 0, 0.9);
  }
  
  /* SignOut */
  .SignOut {
    position: absolute;
    top: 58px;
    background: white;
    border-radius: 0 0 5px 5px;
    width: 80px;
    height: 28px;
    font-size: 16px;
    transition-duration: 167ms;
    text-align: center;
    display: none;
  }
  
  
/* NavListWrap */
.NavListWrap {
    display: flex;
    flex-wrap: nowrap;
    list-style-type: none;
  }
  
  /* Active NavList */
  .NavList.active span::after {
    content: "";
    transform: scaleX(1);
    border-bottom: 2px solid var(--white, #fff);
    bottom: 0;
    left: 0;
    position: absolute;
    transition: transform 0.2s ease-in-out;
    width: 100%;
    border-color: rgba(0, 0, 0, 0.9);
  }
  
  /* NavList */
  .NavList {
    display: flex;
    align-items: center;
  }
  
  .NavList a {
    align-items: center;
    background: transparent;
    display: flex;
    flex-direction: column;
    font-size: 12px;
    font-weight: 400;
    justify-content: center;
    line-height: 1.5;
    min-height: 52px;
    min-width: 80px;
    position: relative;
    text-decoration: none;
  }
  
  .NavList span {
    color: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
  }
  
  .NavList:hover,
  .NavList:active {
    cursor: pointer;
  }
  
  .NavList:hover a span {
    color: rgba(0, 0, 0, 0.9);
  }
  
  /* SignOut */
  .SignOut {
    position: absolute;
    top: 64px;
    background: white;
    border-radius: 0 0 5px 5px;
    width: 50px;
    height: 28px;
    font-size: 16px;
    transition-duration: 167ms;
    text-align: center;
    display: none;
  }
  
  /* User */
  .User {
    border-left: 1px solid rgba(0, 0, 0, 0.08);

  }
  
  .User a > svg {
    width: 24px;
    border-radius: 50%;
  }
  
  .User a > img {
    width: 24px;
    height: 24px;
    padding: 20px 12px;
  }
  
  .User span {
    display: flex;
    align-items: center;
  }
  
  .User:hover .SignOut {
    align-items: center;
    display: flex;
  }
  
  /* Work */
  .Work {
    border-left: 1px solid rgba(0, 0, 0, 0.08);
  }
  
  