.DataPicker {
    flex-grow: 1;
    margin-right: 10px;
  }
  
  .DataPicker div {
    display: inline-block;
    position: relative;
    padding: 1px;
    width: 100%; 
  }
  
  .DataPicker input[type="text"] {
    position: absolute;
    pointer-events: none;
    width: 100%;
    padding-left: 3px;
    padding-bottom: 4px;
  }
  
  .DataPicker:focus-within input[type="text"] {
    outline: -webkit-focus-ring-color auto 5px;
  }
  