.DataPicker input[type="date"] {
    border: none;
    background: transparent;
  }
  
  .DataPicker input[type="date"]:focus {
    outline: none;
  }
  
  .DataPicker input[type="text"] {
    position: absolute;
    z-index: -1;
    pointer-events: none;
    width: 240px;
    padding-left: 3px;
    padding-bottom: 4px;
  }
  
  .DataPicker div {
    display: inline-block;
    position: relative;
    padding: 1px;
  }
  
  .DataPicker:focus-within input[type="text"] {
    outline: -webkit-focus-ring-color auto 5px;
  }
  